
.jumbotron
  %h1 Designing with OpenSCAD
  %h2(style="margin-bottom: 2em") A young lady's first enchiridion
  %p
    %a.btn.btn-lg.btn-primary(href="https://leanpub.com/designing_with_openscad")
      Buy now from $9.99

.row
  .col-md-4
    %h3 Design Objects
    %p
      Learn how to design 3D printable objects
  .col-md-4
    %h3 Learn 3D printing
    %p
      Learn how to 3D print things
  .col-md-4
    %h3 Learn Programming
    %p
      Learn how to program objects

