- content_for :foot do
  :css
    .row {
      margin-bottom: 4em;
    }

    h2 { font-family: Dosis; }
    h3 { font-family: Dosis; }

    .row h3 {
      margin-bottom: 1em;
    }
    .row h3 {
      margin-bottom: 1em;
    }

    h2 + p {
      margin-top: 1em;
    }
    h3 + p {
      margin-top: 1em;
    }

    .lined-section {
      border-top: 1px solid #aaa;
      border-bottom: 1px solid #aaa;
      padding-top: 4em;
      padding-bottom: 4em;
    }

    .jumbotron {
      height: 25em;
      padding-bottom: 4em;
      margin-bottom: 6em;
      background-image: url('http://lorempixel.com/1140/486/food/2');
    }

    .book {
      background-color: #eee;
      height: 18em;
      padding: 1em 2em;
      margin-top: 6em;
    }

    .bar-section {
      background-color: #292d2f;
      color: #e1e1e1;
      padding-top: 4em;
      padding-bottom: 4em;
    }

.row
  .col-md-12.text-center(style="margin-top: 2em")
    %h1(style="font-weight: bold")
      Want to make your imagination real?
      %p
        %small
          Learn to design 3D printable modeling, programming, and the art of subversion.


.jumbotron
  .row
    .col-md-offset-6.col-md-6
      .book
        %h2(style="font-family: Helvetica; margin-bottom: 2em")
          Designing with OpenSCAD
          %br
          %small A young lady's first enchiridion

        %p
          %a.btn.btn-lg.btn-primary(href="https://leanpub.com/designing_with_openscad")
            Buy eBook from $9.99


.row
  .col-md-offset-2.col-md-8
    %h2
      Make your ideas real.
    %hr/
    %p.lead
      Nowadays, it's easier than ever to make your ideas real. All you need
      is to design a 3D model to feed into a 3D printer. But if mainstream CAD 
      software seems hard to learn and too expensive, then it's time to read
      %i Designing with OpenSCAD.

.row
  .col-md-offset-2.col-md-8.text-center
    %h2
      What is OpenSCAD?
    %p.lead
      OpenSCAD is a free and simple programming language 
      used to make parametric 3D models for 3D printing.
  .col-md-offset-2.col-md-4
    %h3.text-center
      Combine 3D shapes.
    %pre(style="height: 250px; margin-bottom: 2em")
      :preserve
        difference() {
          cube([10, 10, 10]);
          cylinder(10, 5, 5);
        }
  .col-md-4
    %h3.text-center
      To make 3D models.
    %img(src="http://lorempixel.com/360/250")


.row
  .col-md-offset-2.col-md-8
    %h2
      Programming is literacy.
    %hr/
    %p.lead
      Software is eating the world. Every industry is changing as software changes the
      way we live, work, and play.  OpenSCAD is a good start for learning how to 
      program, as a stepping stone to participating in the future. 

.row
  .col-md-offset-2.col-md-8
    %h2
      The art of subversion.
    %hr/
    %p.lead
      New technologies allow us to do things we weren't able to do before, easier,
      cheaper, and faster. Inevitably, they allow us the possibility of changing
      established social order and power structure. What are the things we can do 
      with 3D printing that people don't want us to do?


.row.bar-section.text-center
  .col-md-12
    %h2(style="margin-bottom: 1em")
      Why code to make 3D models?
  .col-md-4
    %h3
      Easy to learn.
    %div(style="font-size: 4em; margin: 0.25em 0em")
      %i.fa.fa-thumbs-o-up
    %p
      There's only 10 modules to learn in order to be dangerous in OpenSCAD. That makes
      it easy to get started without learning a complicated interface.
  .col-md-4
    %h3
      Collaborate on designs.
    %div(style="font-size: 4em; margin: 0.25em 0em")
      %i.fa.fa-code-fork
    %p
      Unlike Mainstream CAD program files, OpenSCAD is code and can 
      upon previous designs. OpenSCAD code can leverage git and other modern tools
      to collaborate.
  .col-md-4
    %h3
      Parametric models.
    %div(style="font-size: 4em; margin: 0.25em 0em")
      %i.fa.fa-pencil
    %p
      You can build parametric models with OpenSCAD, so if a dimension changes, you
      don't have to redesign the entire part. Just change a variable, and you're done.


.row.text-center
  .col-md-12
    %h2(style="margin-bottom: 1em")
      What will I build?
  .col-md-4
    %h3
      Model Rockets
    %p
      Shoot model rockets
      
  .col-md-4
    %h3
      Gimbal
    %p
      Learn how to 3D print things
  .col-md-4
    %h3
      3D printer
    %p
      Learn how to program objects


.row
  .col-md-offset-2.col-md-8
    %h2
      Get a free sample
  .col-md-offset-2.col-md-5
    %p
      The sample chapters are from different parts of the book.
    %img(src="http://lorempixel.com/400/200")
  .col-md-3
    %form
      .form-group
        %label(for="name") Name
        %input.form-control(type="text" placeholder="Enter Name")
      .form-group
        %label(for="email") Email Address
        %input.form-control(type="email" placeholder="Enter email")
      %button.btn.btn-default.btn-lg(type="submit")
        Get Sample Chapters

.row
  .col-md-6
    .media
      .media-left
        %img(src="http://lorempixel.com/50/50/people/6")
      .media-body
        %blockquote
          %p
            Nothing teaches OpenSCAD to beginners better
          %footer
            Markus Kintel
            %cite(title="source title")
              Creator of OpenSCAD

  .col-md-6
    .media
      .media-left
        %img(src="http://lorempixel.com/50/50/people/3")
      .media-body
        %blockquote
          %p
            There's no way you can learn OpenSCAD without it.
          %footer
            Noop
            %cite(title="source title")
              Creator of vertical 3D printer

 
.row
  .col-md-4
    %h2 Just the Ebook
    %a.btn.btn-success(href="#")
      from $9.99
  .col-md-4
    %h2 Ebook and Videos
    %a.btn.btn-success(href="#")
      Buy for $120
  .col-md-4
    %h2 Ebook and Stickers
    %a.btn.btn-success(href="#")
      Buy for $120

